			
			<div fullscreen class="container-full-screen" >
				
<!--
				<figure class="figure-center">
					<div class="img-center" style="background-image: url(media/2.jpg);"></div>								
				</figure>
-->
				<video src="media/chiens.mp4" autoplay loop muted></video>
				
			</div>
			
			<div fullscreen class="container-full-screen-top" >
			</div>
			
			<object id="logo" class="logo-home" type="image/svg+xml" data="media/libellulaBianca.svg"></object>
	
			<div class="row no-margin">
				<a href="man/ss16">
					<div class="col-md-6 img-collections">
						<div class="opacity-transition collection-mobile">
							<div class="opacity-div-left down-feather-shadow"></div>
							<div class="opacity-div-right"></div>
							<h1 class="text-collections">SPRING SUMMER 16<br>MENSWEAR</h1>
							<img class="img-responsive" src="media/1-s.jpg">
							<div class="mobile-shadow"></div>
						</div>
					</div>
				</a>
				<a href="woman/ss16">
					<div class="col-md-6  img-collections">
						<div class="opacity-transition collection-mobile">
							<div class="opacity-div-left down-feather-shadow"></div>
							<div class="opacity-div-right"></div>
							<h1 class="text-collections">SPRING SUMMER 16<br>WOMENSWEAR</h1>
							<img class="img-responsive" src="media/1.jpg">
							<div class="mobile-shadow"></div>
						</div>
					</div>
				</a>
			</div>
			
			<div class="social">
				<div class="scrollable-list text-center">
				    <ul class="list-inline">
			        <li class="scrollable-item">
			        	<a href="https://www.facebook.com/lesbohemiens/" target="_blank"><img src="media/facebook-icon.png" ></a>
			        </li>
			        <li class="scrollable-item">
		            <a href="https://instagram.com/lesbohemiens/" target="_blank"><img src="media/instagram-icon.png"></a>
			        </li>
			        <li class="scrollable-item">
		            <a href="https://www.youtube.com/lesbohemiens" target="_blank"><img src="media/yt-icon.png"></a>
			        </li>
			        <li class="scrollable-item">
		            <a href="https://www.linkedin.com/company/les-bohemiens" target="_blank"><img src="media/linkedin-icon.png"></a>
			        </li>
			        <li class="scrollable-item">
		            <a href="https://twitter.com/lesbohemiens" target="_blank"><img src="media/twitter-icon.png"></a>
			        </li>
				    </ul>
				</div>
				</figure>
			</div>